/* https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */
/* max-width最大吃多大/min-width */
/* 768是平板解析度 所以設767 */
@media only screen and (min-width: 600px) and (max-width: 1280px){
  body {
    
  }
}
@media only screen and (max-width: 767px){
	.container-fluid{
		flex-direction: column;
	}
}
@media only screen and (max-width: 767px){
	.left{
		width: 100%;
	}
}
@media only screen and (max-width: 767px){
	.right{
		width: 100%;
	}
}
.far{
	color: #5f1f00;
	font-size: 40px;
	padding: 0 130px;
	margin: 170px;
	margin-block-start: 10px;
    margin-block-end: 0;
}
.fab{
	color: #5f1f00;
	font-size: 40px;
	padding: 0 130px;
	margin: 170px;
	margin-block-start: 10px;
    margin-block-end: 0;
}
.fas{
	color: #fff;
	font-size: 40px;
	padding: 0 20px;
}

.container-fluid{
	display: flex;
}
.left{
	width: 50%;
	/* background-color: #ff0; */
}
.right{
	width: 50%;
	/* background-color: #f0f; */
	margin-right: 0;
}
.userinfo .img{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	overflow: hidden;
	display: inline-block;
}
.userinfo img{
	height: 100%;
	width: 100%;
}
.userinfo, .contant , .language, .edu h3, .work h3, .skill h3{
	text-align: center;
	padding-top: 20px;
}
.contant h3, .language h3, .edu h3, .work h3, .skill h3{
	border-bottom: 1px solid #000;
	width: 80%;
	margin-left: 10%;
}
.contant h5{
	text-align: left;
	margin-left: 160px;
	margin-block-end: 0;
}
b{
	font-size: 20px;
	font-weight: 700;
	text-shadow: 0px 0px 2px #000;
}
.edu ul li h5 , .work ul li h5{
	margin: 5px;
	font-size: 15px;
}
.bar .outer{
	width: 300px;
	height: 20px;
	border: 1px solid #000;
	border-radius: 11px;
	margin-left: 170px;
	background-color: #fff;
}
.bar .inside{
	width: 98%;
	height: 16px;
	border: 1px solid #000;
	border-radius: 8px;
	margin: 1px 0 0 1px;
	background-color: #00f;
}
.bar .inside1{
	width: 80%;
	height: 16px;
	border: 1px solid #000;
	border-radius: 8px;
	margin: 1px 0 0 1px;
	background-color: #00f;
}
.language h4{
		text-align: left;
		font-size: 20px;
		margin-left: 180px;
	    margin-block-end: 0;
}
.skill h4{
	margin-block-end: 5px;
}
.edu ul, .work ul{
	   padding-inline-start: 80px;
}